2ping==4.5
adal==1.2.7
aiodns==3.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiomultiprocess==0.9.0
aioquic==1.2.0
aiosignal==1.3.2
aiosqlite==0.21.0
aniso8601==10.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.2
anyio==4.8.0
apparmor==4.1.0
appdirs==1.4.4
applicationinsights==0.11.10
apt-listchanges==4.8
argcomplete==3.6.2
argon2-cffi==21.1.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
autocommand==2.2.2
autorecon==2.0.36
avro==1.12.0
awscli==2.23.6
awscrt==1.0.0.dev0
azure-agrifood-farming==1.0.0b3
azure-ai-agents==1.1.0b1
azure-ai-anomalydetector==3.0.0b7
azure-ai-contentsafety==1.0.0
azure-ai-documentintelligence==1.0.3
azure-ai-evaluation==1.8.0
azure-ai-formrecognizer==3.3.4
azure-ai-inference==1.0.0b9
azure-ai-language-conversations==1.1.1
azure-ai-language-questionanswering==1.1.1
azure-ai-ml==1.28.0
azure-ai-personalizer==1.0.0b2
azure-ai-projects==1.0.0b11
azure-ai-textanalytics==5.3.1
azure-ai-translation-document==1.1.1
azure-ai-translation-text==1.0.2
azure-ai-vision-face==1.0.0b2
azure-ai-vision-imageanalysis==1.0.1
azure-appconfiguration==1.7.2
azure-appconfiguration-provider==2.1.1
azure-batch==15.0.0b2
azure-cli==2.74.0
azure-cli-core==2.74.0
azure-cli-telemetry==1.1.0
azure-cognitiveservices-personalizer==0.1.0
azure-common==1.1.29
azure-communication-callautomation==1.5.0b1
azure-communication-chat==1.3.0
azure-communication-email==1.0.1b1
azure-communication-identity==1.5.1
azure-communication-jobrouter==1.1.0b2
azure-communication-messages==1.2.0b1
azure-communication-phonenumbers==1.2.0
azure-communication-rooms==1.2.0
azure-communication-sms==1.1.0
azure-confidentialledger==1.2.0b2
azure-containerregistry==1.2.1
azure-core==1.35.0
azure-core-experimental==1.0.0b5
azure-cosmos==4.12.0b2
azure-data-tables==12.8.0b1
azure-datalake-store==0.0.53
azure-defender-easm==1.0.0b2
azure-developer-devcenter==1.0.1
azure-developer-loadtesting==1.1.0b1
azure-devops==1.0.1
azure-digitaltwins-core==1.2.1
azure-eventgrid==4.22.0
azure-eventhub==5.15.1
azure-eventhub-checkpointstoreblob==1.2.1
azure-eventhub-checkpointstoreblob-aio==1.2.1
azure-eventhub-checkpointstoretable==1.0.0b1
azure-health-deidentification==1.0.0
azure-healthinsights-cancerprofiling==1.0.0b2
azure-healthinsights-clinicalmatching==1.0.0b2
azure-healthinsights-radiologyinsights==1.0.1
azure-identity==1.23.1
azure-identity-broker==1.3.0b2
azure-iot-deviceprovisioning==1.0.0b1
azure-iot-deviceupdate==1.0.1
azure-keyvault==4.2.1b1
azure-keyvault-administration==4.6.0b2
azure-keyvault-certificates==4.10.0b2
azure-keyvault-keys==4.11.0b2
azure-keyvault-secrets==4.10.0b2
azure-keyvault-securitydomain==1.0.0b2
azure-maps-geolocation==1.0.0b4
azure-maps-render==2.0.0b3
azure-maps-route==1.0.0b4
azure-maps-search==2.0.0b3
azure-maps-timezone==1.0.0b2
azure-maps-weather==1.0.0b1
azure-media-videoanalyzer-edge==1.0.0b4
azure-messaging-webpubsubclient==1.1.1
azure-messaging-webpubsubservice==1.2.2
azure-mgmt-advisor==10.0.0b1
azure-mgmt-agrifood==1.0.0b3
azure-mgmt-alertsmanagement==2.0.0b2
azure-mgmt-apicenter==1.0.0
azure-mgmt-apimanagement==5.0.0
azure-mgmt-app==1.0.0b2
azure-mgmt-appcomplianceautomation==1.0.0
azure-mgmt-appconfiguration==4.0.0
azure-mgmt-appcontainers==3.2.0
azure-mgmt-applicationinsights==4.1.0
azure-mgmt-appplatform==10.0.0
azure-mgmt-arizeaiobservabilityeval==1.0.0
azure-mgmt-astro==1.0.0b1
azure-mgmt-attestation==2.0.0b1
azure-mgmt-authorization==4.0.0
azure-mgmt-automanage==2.0.0b1
azure-mgmt-automation==1.1.0b4
azure-mgmt-avs==9.0.0
azure-mgmt-azurearcdata==2.0.0b1
azure-mgmt-azurestack==2.0.0b1
azure-mgmt-azurestackhci==8.0.0b4
azure-mgmt-baremetalinfrastructure==1.1.0b2
azure-mgmt-batch==18.0.0
azure-mgmt-billing==7.0.0
azure-mgmt-billingbenefits==1.0.0b1
azure-mgmt-botservice==2.0.0
azure-mgmt-carbonoptimization==1.0.0b1
azure-mgmt-cdn==13.1.1
azure-mgmt-changeanalysis==1.0.0
azure-mgmt-chaos==1.1.0
azure-mgmt-cognitiveservices==13.7.0b1
azure-mgmt-commerce==6.1.0b1
azure-mgmt-communication==2.1.0
azure-mgmt-compute==34.1.0
azure-mgmt-computefleet==1.0.0
azure-mgmt-computeschedule==1.0.0
azure-mgmt-confidentialledger==2.0.0b5
azure-mgmt-confluent==2.1.0
azure-mgmt-connectedcache==1.0.0b1
azure-mgmt-connectedvmware==1.0.0
azure-mgmt-consumption==11.0.0b1
azure-mgmt-containerinstance==10.2.0b1
azure-mgmt-containerorchestratorruntime==1.0.0b1
azure-mgmt-containerregistry==14.1.0b1
azure-mgmt-containerservice==36.0.0
azure-mgmt-containerservicefleet==3.1.0
azure-mgmt-core==1.5.1
azure-mgmt-cosmosdb==9.8.0
azure-mgmt-cosmosdbforpostgresql==1.1.0b1
azure-mgmt-costmanagement==4.0.1
azure-mgmt-customproviders==1.1.0b1
azure-mgmt-dashboard==1.1.0
azure-mgmt-databasewatcher==1.0.0b1
azure-mgmt-databox==3.1.0
azure-mgmt-databoxedge==2.0.0
azure-mgmt-databricks==2.0.0
azure-mgmt-datadog==2.1.0
azure-mgmt-datafactory==9.2.0
azure-mgmt-datalake-analytics==1.0.0b2
azure-mgmt-datalake-store==1.1.0b1
azure-mgmt-datamigration==10.1.0b1
azure-mgmt-dataprotection==1.4.0
azure-mgmt-datashare==1.1.0b1
azure-mgmt-defendereasm==1.0.0b1
azure-mgmt-dellstorage==1.0.0b1
azure-mgmt-dependencymap==1.0.0b1
azure-mgmt-deploymentmanager==2.0.0b1
azure-mgmt-desktopvirtualization==2.0.0
azure-mgmt-devcenter==1.1.0
azure-mgmt-devhub==1.0.0b1
azure-mgmt-deviceregistry==1.0.0
azure-mgmt-deviceupdate==1.1.0
azure-mgmt-devopsinfrastructure==1.0.0
azure-mgmt-devspaces==1.0.0b3
azure-mgmt-devtestlabs==10.0.0b2
azure-mgmt-digitaltwins==7.0.0
azure-mgmt-dns==8.2.0
azure-mgmt-dnsresolver==1.1.0b2
azure-mgmt-durabletask==1.0.0b2
azure-mgmt-dynatrace==2.0.0
azure-mgmt-edgegateway==0.1.0
azure-mgmt-edgeorder==2.0.0
azure-mgmt-edgezones==1.0.0b2
azure-mgmt-education==1.0.0b2
azure-mgmt-elastic==1.1.0b4
azure-mgmt-elasticsan==1.2.0b2
azure-mgmt-eventgrid==10.4.0
azure-mgmt-eventhub==11.2.0
azure-mgmt-extendedlocation==2.0.0
azure-mgmt-fabric==1.0.0
azure-mgmt-fluidrelay==1.1.0b1
azure-mgmt-frontdoor==1.2.0
azure-mgmt-graphservices==1.0.0
azure-mgmt-guestconfig==1.0.0b2
azure-mgmt-hanaonazure==1.1.0b1
azure-mgmt-hardwaresecuritymodules==1.0.0b2
azure-mgmt-hdinsight==9.1.0b1
azure-mgmt-hdinsightcontainers==1.0.0b3
azure-mgmt-healthbot==1.0.0b2
azure-mgmt-healthcareapis==2.1.0
azure-mgmt-healthdataaiservices==1.0.0
azure-mgmt-hybridcompute==9.1.0b1
azure-mgmt-hybridconnectivity==2.0.0b1
azure-mgmt-hybridcontainerservice==1.0.0
azure-mgmt-hybridkubernetes==1.2.0b2
azure-mgmt-hybridnetwork==2.0.0
azure-mgmt-imagebuilder==1.4.0
azure-mgmt-impactreporting==1.0.0b1
azure-mgmt-informaticadatamanagement==1.0.0
azure-mgmt-iotcentral==10.0.0b2
azure-mgmt-iotfirmwaredefense==2.0.0b1
azure-mgmt-iothub==4.0.0
azure-mgmt-iothubprovisioningservices==1.2.0b2
azure-mgmt-iotoperations==1.0.0
azure-mgmt-keyvault==11.0.0
azure-mgmt-kubernetesconfiguration==3.1.0
azure-mgmt-kubernetesconfiguration-extensions==1.0.0b1
azure-mgmt-kubernetesconfiguration-extensiontypes==1.0.0b1
azure-mgmt-kubernetesconfiguration-fluxconfigurations==1.0.0b1
azure-mgmt-kusto==3.4.0
azure-mgmt-labservices==2.1.0b1
azure-mgmt-lambdatesthyperexecute==1.0.0
azure-mgmt-largeinstance==1.0.0b1
azure-mgmt-loadtesting==1.0.0
azure-mgmt-loganalytics==13.0.0b7
azure-mgmt-logic==10.1.0b1
azure-mgmt-machinelearningcompute==1.0.0b2
azure-mgmt-machinelearningservices==2.0.0b2
azure-mgmt-maintenance==2.2.0b2
azure-mgmt-managedapplications==1.0.0b1
azure-mgmt-managednetworkfabric==1.0.0
azure-mgmt-managedservices==7.0.0b2
azure-mgmt-managementgroups==1.1.0b2
azure-mgmt-managementpartner==1.1.0b1
azure-mgmt-maps==2.1.0
azure-mgmt-marketplaceordering==1.2.0b2
azure-mgmt-media==10.2.1
azure-mgmt-migrationassessment==1.0.0b1
azure-mgmt-migrationdiscoverysap==1.0.0b1
azure-mgmt-mixedreality==1.1.0b1
azure-mgmt-mobilenetwork==3.3.0
azure-mgmt-mongocluster==1.1.0b1
azure-mgmt-monitor==7.0.0b1
azure-mgmt-msi==7.1.0b1
azure-mgmt-mysqlflexibleservers==1.0.0b3
azure-mgmt-neonpostgres==1.0.0
azure-mgmt-netapp==14.0.0b1
azure-mgmt-network==29.0.0
azure-mgmt-networkanalytics==1.0.0
azure-mgmt-networkcloud==2.1.0b1
azure-mgmt-networkfunction==1.0.0b1
azure-mgmt-newrelicobservability==1.1.0
azure-mgmt-nginx==3.1.0b2
azure-mgmt-notificationhubs==8.1.0b2
azure-mgmt-oep==1.0.0b2
azure-mgmt-onlineexperimentation==1.0.0b1
azure-mgmt-operationsmanagement==2.0.0b1
azure-mgmt-oracledatabase==1.0.0
azure-mgmt-orbital==2.0.0
azure-mgmt-paloaltonetworksngfw==2.0.0b1
azure-mgmt-peering==2.0.0b1
azure-mgmt-pineconevectordb==1.0.0b2
azure-mgmt-playwrighttesting==1.0.0
azure-mgmt-policyinsights==1.1.0b4
azure-mgmt-portal==1.1.0b1
azure-mgmt-portalservicescopilot==1.0.0b1
azure-mgmt-postgresqlflexibleservers==1.2.0b1
azure-mgmt-powerbidedicated==1.1.0b1
azure-mgmt-powerbiembedded==3.0.0
azure-mgmt-privatedns==1.2.0
azure-mgmt-programmableconnectivity==1.0.0b1
azure-mgmt-purestorageblock==1.0.0b1
azure-mgmt-purview==1.1.0b1
azure-mgmt-quantum==1.0.0b5
azure-mgmt-qumulo==2.0.0
azure-mgmt-quota==2.0.0
azure-mgmt-rdbms==10.2.0b18
azure-mgmt-recoveryservices==3.0.0
azure-mgmt-recoveryservicesbackup==9.2.0
azure-mgmt-recoveryservicesdatareplication==1.0.0
azure-mgmt-recoveryservicessiterecovery==1.3.0
azure-mgmt-redhatopenshift==2.0.0
azure-mgmt-redis==14.5.0
azure-mgmt-redisenterprise==3.1.0b4
azure-mgmt-relay==2.0.0b1
azure-mgmt-reservations==2.3.0
azure-mgmt-resource==23.4.0
azure-mgmt-resourceconnector==1.0.0
azure-mgmt-resourcegraph==8.1.0b3
azure-mgmt-resourcehealth==1.0.0b6
azure-mgmt-resourcemover==1.1.0
azure-mgmt-scvmm==1.0.0
azure-mgmt-search==9.2.0b3
azure-mgmt-secretsstoreextension==1.0.0b1
azure-mgmt-security==7.0.0
azure-mgmt-securitydevops==1.0.0b2
azure-mgmt-securityinsight==2.0.0b2
azure-mgmt-selfhelp==2.0.0b4
azure-mgmt-serialconsole==1.1.0b1
azure-mgmt-servicebus==9.0.0
azure-mgmt-servicefabric==2.2.0b1
azure-mgmt-servicefabricmanagedclusters==2.1.0b2
azure-mgmt-servicelinker==1.2.0b3
azure-mgmt-servicenetworking==2.1.0b1
azure-mgmt-signalr==2.0.0b2
azure-mgmt-sitemanager==1.0.0b1
azure-mgmt-sphere==1.0.0
azure-mgmt-springappdiscovery==1.0.0b1
azure-mgmt-sql==4.0.0b21
azure-mgmt-sqlvirtualmachine==1.0.0b6
azure-mgmt-standbypool==2.0.0
azure-mgmt-storage==23.0.0
azure-mgmt-storageactions==1.0.0b2
azure-mgmt-storagecache==2.0.0
azure-mgmt-storageimportexport==1.0.0b2
azure-mgmt-storagemover==2.1.0
azure-mgmt-storagepool==1.1.0b1
azure-mgmt-storagesync==2.0.0b1
azure-mgmt-streamanalytics==2.0.0b2
azure-mgmt-subscription==3.2.0b1
azure-mgmt-support==7.0.0
azure-mgmt-synapse==2.1.0b7
azure-mgmt-terraform==1.0.0b1
azure-mgmt-testbase==1.0.0b2
azure-mgmt-timeseriesinsights==2.0.0b1
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-trustedsigning==1.0.0b1
azure-mgmt-videoanalyzer==1.0.0b4
azure-mgmt-vmwarecloudsimple==1.0.0b2
azure-mgmt-voiceservices==1.0.0
azure-mgmt-web==8.0.0
azure-mgmt-webpubsub==2.0.0
azure-mgmt-weightsandbiases==1.0.0
azure-mgmt-workloads==1.0.0
azure-mgmt-workloadssapvirtualinstance==1.0.0
azure-mixedreality-authentication==1.0.0b2
azure-mixedreality-remoterendering==1.0.0b2
azure-monitor-ingestion==1.0.5
azure-monitor-opentelemetry==1.6.10
azure-monitor-opentelemetry-exporter==1.0.0b37
azure-monitor-query==1.4.2
azure-multiapi-storage==1.4.0
azure-onlineexperimentation==1.0.0b1
azure-openai==1.0.0b1
azure-projects==0.0.1a1
azure-purview-administration==1.0.0b2
azure-purview-catalog==1.0.0b5
azure-purview-datamap==1.0.0b3
azure-purview-scanning==1.0.0b3
azure-purview-sharing==1.0.0b3
azure-purview-workflow==1.0.0b3
azure-schemaregistry==1.3.1
azure-schemaregistry-avroencoder==1.0.1
azure-search-documents==11.6.0b13
azure-security-attestation==1.1.0
azure-servicebus==7.14.3
azure-servicefabric==8.2.1
azure-storage-blob==12.26.0
azure-storage-blob-changefeed==12.0.0b6
azure-storage-file-datalake==12.21.0
azure-storage-file-share==12.22.0
azure-storage-queue==12.13.0
azure-synapse-accesscontrol==0.8.0
azure-synapse-artifacts==0.20.0
azure-synapse-managedprivateendpoints==0.5.0
azure-synapse-monitoring==0.3.0
azure-synapse-spark==0.8.0
azure-template==0.0.18b3
babel==2.17.0
backdoor-factory==0.0.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.13.4
bidict==0.23.1
binwalk==2.4.3
blinker==1.9.0
Bottleneck==1.4.2
Brotli==1.1.0
cairocffi==1.7.1
capstone==5.0.7
censys==2.2.17
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
click-plugins==1.1.1
colorama==0.4.6
colored-traceback==0.4.2
configobj==5.0.9
contourpy==1.3.1
corehttp==1.0.0b7
crit==4.1.1
cryptography==43.0.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dhcpig==0.0.0
dicttoxml==1.7.16
dirsearch==0.4.3
distro==1.9.0
distro-info==1.13
dnslib==0.9.25
dnspython==2.7.0
docutils==0.21.2
dsinternals==1.2.4
email_validator==2.2.0
enum4linux-ng==1.3.4
et_xmlfile==2.0.0
eventlet==0.39.1
exceptiongroup==1.2.2
executing==2.2.0
fabric==2.6.0
fastapi==0.115.11
filelock==3.18.0
flasgger==0.9.7.2.dev2
Flask==3.1.1
Flask-Compress==1.4.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.5.1
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.6.0
fs==2.4.16
GeoIP==1.3.2
geoip2==2.9.0
gevent==24.11.1
gevent-websocket==0.10.1
gpg==1.24.2
greenlet==3.1.0
gssapi==1.9.0
gyp-next==0.16.2
h11==0.14.0
h2==4.2.0
hashID==3.1.4
hpack==4.0.0
html5lib-modern==1.2
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
humanfriendly==10.0
hyperframe==6.0.0
idna==3.10
imageio==2.37.0
impacket==0.12.0
importlib_metadata==8.7.0
inflect==7.3.1
iniconfig==1.1.1
instaloader==4.14.1
intervaltree==3.0.2
invoke==2.2.0
ipdb==0.13.13
ipython==8.35.0
isodate==0.0.0
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
javaproperties==0.8.2
jedi==0.19.1
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jsondiff==2.1.2
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
kaitaistruct==0.10
keyring==25.6.0
kiwisolver==1.4.7
knack==0.12.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
ldap3==2.9.1
ldapdomaindump==0.9.4
legacy-cgi==2.6.3
LibAppArmor==4.1.0
libvirt-python==11.3.0
limits==4.4.1
linkify-it-py==2.0.3
llvmlite==0.44.0
lxml==5.4.0
lz4==4.4.0+dfsg
Mako==1.3.9.dev0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
mat2==0.13.5
mate-menu==22.4.2
mate-tweak==22.10.0
matplotlib==3.10.1+dfsg1
matplotlib-inline==0.1.7
maxminddb==2.6.3
mcp==1.12.0
mdurl==0.1.2
mechanize==0.4.10
mistune==3.1.3
mitmproxy==12.2.0
more-itertools==10.7.0
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.0.3
msrest==0.6.21
msrestazure==0.6.4
multidict==6.4.3
mutagen==1.47.0
netaddr==1.3.0
netifaces==0.11.0
nltk==3.9.1
notify2==0.3.1
ntlm-auth==1.5.0
numba==0.61.2
numexpr==2.10.2
numpy==2.2.4
nyx==2.1.0
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.47
onboard==1.4.1
onionshare==2.6.3
onionshare_cli==2.6.3
openai==1.69.0
openpyxl==3.1.5
outcome==1.2.0
packaging==25.0
pandas==2.2.3+dfsg
paramiko==3.5.1
parso==0.8.4
pcapy==0.11.5.dev0
pefile==2024.8.26
pexpect==4.9.0
pillow==11.1.0
pkginfo==1.12.1.2
platformdirs==4.3.7
pluggy==1.5.0
pluginbase==1.0.1
plumbum==1.9.0
ply==3.11
podman-compose==1.3.0
portalocker==3.1.1
prettytable==3.15.1
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==4.21.12
psutil==7.0.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure_eval==0.2.3
pwntools==4.14.1
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyasyncore==1.0.2
pycairo==1.27.0
pycares==4.4.0
pycparser==2.22
pycriu==4.1.1
pycryptodomex==3.20.0
pycups==2.0.4
pycurl==7.45.6
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydash==8.0.5
pyee==13.0.0
pyelftools==0.32
pygeoip==0.3.2
PyGithub==2.6.1
Pygments==2.18.0
PyGObject==3.50.0
pyinotify==0.9.6
PyJWT==2.10.1
pylsqpack==0.3.18
PyNaCl==1.5.0
pynvim==0.5.2
PyOpenGL==3.1.9
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyperclip==1.8.2
pyppeteer==1.0.1
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6_sip==13.10.0
pyqtgraph==0.13.7
pyrtlsdr==0.2.91
pyserial==3.5
PySide6==6.8.2.1
pysmbc==1.0.25.1
PySocks==1.7.1
pyspnego==0.10.2
pytest==8.3.5
python-apt==3.0.0
python-dateutil==2.9.0
python-debian==1.0.1
python-debianbts==4.1.1
python-dotenv==1.0.1
python-engineio==4.11.2
python-gnupg==0.5.4
python-magic==0.4.27
python-magic-ahupp==0.4.13
python-multipart==0.0.20
python-socketio==5.12.1
python-xlib==0.33
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.2
qrcode==8.2
redis==6.1.0
referencing==0.36.2
regex==2024.11.6
reportbug==13.2.0
requests==2.32.3
requests-file==2.1.0
requests-futures==1.0.2
requests-oauthlib==1.3.1
requests_ntlm==1.3.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.9.4
rocket==1.5.0
roman==5.0
ROPGadget==7.6
rpds-py==0.21.0
rpyc==6.0.1
rq==2.3.3
rtlsdr-scanner==1.3.2
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scapy==2.6.1
scipy==1.15.3
scp==0.15.0
SecretStorage==3.3.3
selenium==4.24.0
semver==3.0.2
service-identity==24.2.0
setproctitle==1.3.6
setuptools==78.1.1
shellingham==1.5.4
sherlock-project==0
shiboken6==6.8.2.1
shiboken6-generator==6.8.2.1
shodan==1.31.0
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
slowapi==0.1.4
smbmap==1.10.7
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
specan==0.0.0
sse-starlette==2.3.4
sshtunnel==0.1.4
stack-data==0.6.3
starlette==0.46.1
stem==1.8.2
strictyaml==1.6.1
sympy==1.13.3
tables==3.10.2
tabulate==0.9.0
termcolor==2.4.0
terminator==2.1.4
theHarvester==4.4.3
tldextract==5.1.2
toml==0.10.2
tomli==2.2.1
torbrowser-launcher==0.3.7
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
ttkthemes==3.2.2
typeguard==4.4.2
typer==0.15.2
types-aiofiles==24.1
types-antlr4-python3-runtime==4.13
types-assertpy==1.1
types-atheris==2.3
types-aws-xray-sdk==2.14
types-beautifulsoup4==4.12
types-bleach==6.2
types-boltons==24.1
types-braintree==4.31
types-cachetools==5.5
types-caldav==1.3
types-capturer==3.0
types-cffi==1.16
types-chevron==0.14
types-click-default-group==1.2
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-console-menu==0.8
types-corus==0.10
types-croniter==5.0.1
types-dateparser==1.2
types-decorator==5.1
types-defusedxml==0.7
types-Deprecated==1.2.15
types-docker==7.1
types-dockerfile-parse==2.0
types-docutils==0.21
types-editdistance==0.8
types-entrypoints==0.4
types-ExifRead==3.0
types-fanstatic==1.4
types-first==2.0
types-flake8==7.1
types-flake8-bugbear==24.12.12
types-flake8-builtins==2.5
types-flake8-docstrings==1.7
types-flake8-rst-docstrings==0.3
types-flake8-simplify==0.21
types-flake8-typing-imports==1.16
types-Flask-Cors==5.0
types-Flask-Migrate==4.0
types-Flask-SocketIO==5.4
types-fpdf2==2.8.2
types-gdb==15.0
types-gevent==24.11
types-google-cloud-ndb==2.3
types-greenlet==3.1
types-hdbcli==2.23
types-html5lib==1.1
types-httplib2==0.22
types-humanfriendly==10.0
types-hvac==2.3
types-ibm-db==3.2.4
types-icalendar==6.1
types-influxdb-client==1.45
types-inifile==0.4
types-JACK-Client==0.5
types-Jetson.GPIO==2.1
types-jmespath==1.0
types-jsonschema==4.23
types-jwcrypto==1.5
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.23
types-lupa==2.2
types-lzstring==1.0
types-m3u8==6.0
types-Markdown==3.7
types-mock==5.1
types-mypy-extensions==1.0
types-mysqlclient==2.2
types-nanoid==2.0.0
types-netaddr==1.3
types-netifaces==0.11
types-networkx==3.4.2
types-oauthlib==3.2
types-objgraph==3.6
types-olefile==0.47
types-openpyxl==3.1.5
types-opentracing==2.4
types-paramiko==3.5
types-parsimonious==0.10
types-passlib==1.7
types-passpy==1.0
types-peewee==3.17.8
types-pep8-naming==0.14
types-pexpect==4.9
types-pika-ts==1.3
types-polib==1.2
types-portpicker==1.6
types-protobuf==5.29.1
types-psutil==6.1
types-psycopg2==2.9.10
types-pyasn1==0.6
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.4
types-pyfarmhash==0.4
types-pyflakes==3.2
types-pygit2==1.15
types-Pygments==2.18
types-pyinstaller==6.11
types-pyjks==20.0
types-PyMySQL==1.1
types-pynput==1.7.7
types-pyOpenSSL==24.1
types-pyRFC3339==2.0.1
types-PyScreeze==1.0.1
types-pyserial==3.5
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-crontab==3.2
types-python-datemath==3.0.1
types-python-dateutil==2.9
types-python-http-client==3.3.7
types-python-jenkins==1.8
types-python-jose==3.3
types-python-nmap==0.7
types-python-xlib==0.33
types-pytz==2024.2
types-pywin32==308
types-pyxdg==0.28
types-PyYAML==6.0
types-qrbill==1.1
types-qrcode==8.0
types-regex==2024.11.6
types-reportlab==4.2.5
types-requests==2.32
types-requests-oauthlib==2.0
types-retry==0.9
types-RPi.GPIO==0.7
types-s2clientprotocol==5
types-seaborn==0.13.2
types-Send2Trash==1.8
types-setuptools==75.6
types-shapely==2.0
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.17
types-slumber==0.7
types-str2bool==1.1
types-tabulate==0.9
types-tensorflow==2.18.0
types-TgCrypto==1.2
types-toml==0.10
types-toposort==1.10
types-tqdm==4.67
types-translationstring==1.4
types-tree-sitter-languages==1.10
types-ttkthemes==3.2
types-ujson==5.10
types-unidiff==0.7
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9.9
types-waitress==3.0.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.2.1
types-wurlitzer==3.1
types-xdgenvpy==3.0
types-xmltodict==0.14
types-zstd==1.5
types-zxcvbn==4.4
typing_extensions==4.13.2
uc-micro-py==1.0.3
ufoLib2==0.17.1
ufw==0.36.2
ujson==5.10.0
unicorn==2.1.1
Unidecode==1.4.0
uritemplate==4.1.1
urllib3==2.3.0
urwid==2.6.16
uvicorn==0.32.0
uvloop==0.21.0
validators==0.20.0
vinetto==0.8.0
visvis==1.13.0
wadllib==2.0.0
wafw00f==2.3.1
waitress==3.0.2
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
websploit==4.0.4
Werkzeug==3.1.3
wheel==0.46.1
wifite==2.7.0
wrapt==1.15.0
wsproto==1.2.0
wxPython==4.2.3
xcffib==1.5.0
xdg==5
XlsxWriter==3.1.9
xmltodict==0.13.0
yara-python==4.5.1
yarl==1.19.0
zipp==3.21.0
zombie-imp==0.0.3
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3.post1
zstandard==0.23.0
